.logo {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl .logo {
	float: right;
	margin: 16px 0 16px 24px;
}

.site-layout-background {
	background: #fff;
	padding: 24px 0;
}

.layout-content {
	padding: 0 50px;
}

.select-coin {
	width: 230px;
}

.content-list {
	padding: 0 24px;
	min-height: 800px;
}

.content-list-card {
	width: 240px;
	margin-top: 20px;
}

.footer-team-name {
	text-align: center;
}

.marketplace-detail-main {
	width: 85%;
	margin: 1rem auto;
}

.marketplace-detail-page-header-statistic {
	margin: 0 32px;
}

.marketplace-row {
  margin-bottom: 40px;
}

.marketPlace-detail-image {
  display: flex;
  justify-content: center;
  border: 3px solid #f0f0f0;
  border-radius: 15px;
  padding: 25px 0 25px 0;
}

.marketplace-detail-image-preview {
	display: none;
}

.marketplace-space {
  border: 3px solid #f0f0f0;
  border-radius: 15px;
  padding: 15px;
  width: 1000px;
  margin-bottom: 25px;
}

.marketplace-span-current-price {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #7d7d7d;
  font-size: 15px;
}

.marketplace-span-price {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  font-weight: bold;
}

.marketplace-ethereum {
  width: 40px;
  height: 50px;
}

.marketplace-collapse-description {
  width: 1000px;
}

.marketplace-collapse {
  width: 1360px;
  margin-bottom: 40px;
}

.collapse-button {
  display: flex;
  justify-content: center;
  margin-left: 45%;
}

.card-default-size {
  width: 240px;
}

.marketplace-buy-button {
	width: 150px;
}

.marketplace-category-card {
	width: 240px;
	margin-left: 50px;
}

.marketplace-category-third-card {
	width: 240px;
	margin-left: 40px;
}

.marketplace-category-fourth-card {
	width: 240px;
	margin-left: 25px;
}

.marketplace-category-card-image  {
	width: 240px;
	height: 360px;
}