.route-path {
  padding-top: 69px;
  min-height: calc(100vh - 80px);
}

.main-page {
  width: 100%;
  margin: 0;
  position: relative;
}

.main-row {
  width: 85%;
  margin: 1rem auto;
}

.site-card-wrapper {
  padding: 30px;
  background: #fff;
}

.navigation {
  margin-left: 5%;
}

.marketPlace-detail-image {
  display: flex;
  justify-content: center;
  border: 3px solid #f0f0f0;
  border-radius: 15px;
  padding: 25px 0 25px 0;
}