.route-path {
  padding-top: 69px;
  min-height: calc(100vh - 80px);
}

.main-page {
  width: 100%;
  margin: 0;
  position: relative;
}

.main-row {
  width: 85%;
  margin: 1rem auto;
}

.site-card-wrapper {
  padding: 30px;
  background: #fff;
}